html, body, div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Open Sans,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {   
  box-sizing: border-box;  
}

.header-wrapper {
  height: 360px;
  padding-top: 360px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.header-wrapper::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(38, 41, 48, .3);
  z-index: 1; 
}

.header-childern {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.header-body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 0 15px;
  padding-top: 50px;
  text-align: center;
  z-index: 2;
}

.home-header-title {
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
  margin-bottom: 8px;
}

.home-header-subtitle {
  font-size: 16px;
}

.home-header-download {
  margin-top: 40px;
}

.home-header-download img {
  width: 190px;
  margin: 0 10px 20px;
}


.header-navigation {
  position: absolute;
  top:0;
  left: 0;
  height: 55px;
  width: 100%;
  box-sizing: content-box;
  z-index: 2;
  text-align: center;
}

.navigation-logo {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 32px;
  height: 100%;
}

.navigation-logo a {
  height: 33px;
}

.navigation-image-normal {
  display: inline;
}

.navigation-image-fixed {
  display: none;
}

.navigation-fixed .navigation-image-fixed  {
  display: inline
}

.navigation-fixed .navigation-image-normal  {
  display: none;
}


.navigation-items {
  display: flex;
  align-items: center;
  line-height: 55px;
  float: right;
}

.navigation-item {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 32px;
}

.navigation-humburger {
  display: none;
  float: right;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: content-box;
}

.navigation-humburger-icon {
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='20px' height='18px' viewBox='0 0 20 18' enable-background='new 0 0 20 18' xml:space='preserve'><rect fill='#fff' width='20' height='3'/><rect fill='#fff' y='14' width='20' height='3'/><rect fill='#fff' y='7' width='20' height='3'/></svg>");
  background-size: contain;
}

.navigation-trigger {
  position: absolute;
  clip: rect(0,0,0,0);
}

.navigation-trigger:checked~ .navigation-mobile {
  left: 0;
}

.navigation-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 100%;
  background: #262930;
  z-index: 3;
  transition: all 0.2s ease;
}

.navigation-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-close-icon {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg viewPort="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <line x1="1" y1="19" x2="19" y2="1" stroke="#fff" stroke-width="2"/><line x1="1" y1="1" x2="19" y2="19" stroke="#fff" stroke-width="2"/></svg>');
  background-size: contain;   
}

.navigation-mobile-logo {
  max-width: 80px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.navigation-mobile-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-mobile-item {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}


.navigation-download {
  background-color: #fff;
  opacity: .8;
  color: #222;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  border-radius: 20px;
}

.navigation-download:hover {
  opacity: 1;
}

/* scroll时改变header样式 */
.navigation-fixed .header-navigation {
  position: fixed;
  background: #fff;
  animation-name: fadeInDown;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation-fixed .navigation-item {
  color: #262930;
  opacity: 0.5;
}

.navigation-fixed .navigation-download{
  background: #f05b48;
  color: white;
}

@media all and (max-width: 990px) {
  .navigation-humburger {
    display: flex;
  }
  .navigation-items {
    display: none;
  }
  .header-navigation {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }
}

.home-feature-1-wrap {
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.home-feature-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-feature-1-text-wrap {
  width: 80%;
  margin: 0 auto;
}

.home-feature-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  margin: 0 0 24px;
}

.home-feature-1-title {
  color: #262930
}

.home-feature-subtitle {
  font-size: 16px;
}

.home-feature-1-subtitle {
  color: #666;
  opacity: .75;
}

.home-feature-1-image img {
  max-height: 560px;
  display: block;
}

.parallax , .fullscreen-parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}


.home-feature-2-overlay {
  padding: 200px 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 41, 48, .3)  
}

.home-feature-2-wrap {
  display: flex;
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
}

.home-feature-2-empty, .home-feature-2-text {
  width: 50%;
}

.home-feature-2-text-wrap {
  margin: 0 auto;
  width: 80%;
}

.home-feature-2-text-title, .home-feature-2-text-subtitle {
  color: white;
}


.home-feature-3 {
  position: relative;
}

.home-feature-3-image {
  max-width: 50%;
}

.home-feature-3-image  img{
  display: block;
}

.home-feature-3-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}


.home-feature-3-empty {
  width: 50%; 
}

.home-feature-3-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-feature-3-text-wrap {
  margin: 0 auto;
  width: 80%;
}

.home-feature-3-title {
  color: #262930
}

.home-feature-3-subtitle {
  color: #666;
  opacity: .75;
}


.home-feature-4 {
  padding-top: 80px;
  background: #262930;
  text-align: center;
}

.home-feature-4-text {
  margin: 0 auto;
  padding: 0 15px 120px;
  max-width: 585px;
}

.home-feature-4-title {
  color: #fff;
}

.home-feature-4-subtitle {
  color: #fff;
  opacity: .75;
}

.home-feature-4-image img {
  margin: 0 auto;
  max-height: 360px;
  display: block;
}

.home-reviews {
  background: #f8f8f8;
}

.home-reviews-title {
  padding: 80px 0;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #262930;
}

.home-reviews-slider {
  max-width: 780px;
  margin:0 auto;
  padding: 0 15px;
  padding-bottom: 80px; 
}

.slick-slider, .slick-list {
  position: relative;
  display:  block;
}

.slick-list {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

.home-reviews-text {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.home-reviews-author {
  text-align: center;
  color: #262930;
  font-size: 12px;
  font-weight: 600
}

.slick-dots {
  list-style: none;
  display: block;
  margin: 40px 0 0;
  text-align: center;
  width: 100%;
  padding: 0;
}

.slick-dots li, .slick-dots li button {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
}

.slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
}

.slick-dots li button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  line-height: 20px;
  text-align: center;
  background: #000;
  border-radius: 10px;
  color: #000;
  opacity: .25;
}

.slick-dots li.slick-active  button::before {
  color: #000;
  opacity: .75;
}

.footer {
  background: #f05b48;
  color: #fefefe;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  max-height: 120px;
}

.footer-social {
  margin-top: 56px;
  opacity: 0.5;
}

.footer-social a {
  margin: 0 20px;
}

.footer-social img {
  width: 40px
}

.footer-text {
  font-size: 13px;
  opacity: .5;
  margin-top: 40px;
  text-align: center;
}

.footer-text a {
  color: #fefefe;
}

.header-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
}

.about-content {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 40px;
  padding-top: 40px;
  line-height: 1.7em;
}

.about-content h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #262930;
  margin: 0;
}

.about-content p {
  color: #666;
  font-size: 13px;
}

.about-content-social {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-social a {
  margin: 0 20px;
} 

.about-content-social img {
  width: 34px;
}

.about-colored-image-slide {
  background-color: #f05b48;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.about-colored-image-slide h1 {
  color: #fff;
  font-size: 72px;
  line-height: 80px;
  font-weight: 300;
  margin: 0;
  z-index: 1;
}

.about-colored-image-slide h2 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  z-index: 1;
}

.fullscreen-parallax {
  height: 100vh;
}

.about-colored-image-slide-overlay {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f05b48;
  z-index: 1;
}

.about-normal-image-slide img{
  width: 100%;
  height: auto;
  max-height: none;
  display: block;
}

.header-title span {
  display: block;
}

.request-form-content {
  margin: 0 auto;
  max-width: 650px;
  padding: 40px 15px 80px;
}

.request-form-content-title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  color: #262930;
}

.request-form-content-subtitle {
  text-align: center;
  color: #666;
  font-size: 13px;
}

.request-form-form {
  max-width: 500px;
  margin: 40px auto 0;
}

.request-form-form label {
  display: block;
  margin-bottom: 20px;
}

.request-form-form b {
  display: block;
  color: #262930;
  margin-bottom: 2px;
}

.request-form-form input, .request-form-form button, .request-form-form textarea {
  border-radius: 4px;
}

.request-form-form input, .request-form-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.request-form-form textarea {
  height: 100px;
}

.request-form-form select {
  width: 100%
}

.request-form-form button {
  width: 100%;
  background-color: #f05b48;
  color: #fff;
  height: 40px;
  font-size: 14px;
  border: 0;
}

.blog-content {
  margin: 0 auto;
  padding: 40px 15px 0;
  max-width: 1170px;
  display: flex;
}

.blog-post {
  padding-bottom: 40px;
}

.blog-post-title {
  font-size: 32px;
  line-height: 40px;
} 

.blog-post-title-link {
  color: #262930;
  font-weight: 300;
}

.blog-post-info {
  color: #666;
  font-size: 13px;
  margin: 8px 0 20px;
}

.blog-post-image img {
  display: block;
  max-height: none;
}

.blog-post-body {
  margin: 20px 0;
  color: #666;
  font-size: 15px;
}

.blog-post-more-link {
  color: #f05b48;
  font-size: 15px;
}

.blog-post-more-link:after {
  content: "\2192";
  margin-left: 4px;
  font-family: sans-serif;
}

.blog-sidebar {
  min-width: 260px;
  max-width: 260px;
  margin-left: 30px;
}

.sidebar-blog-title {
  font-size: 15px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
  font-weight: 600;
  color: #262930;
  padding-bottom: 8px; 
}

.sidebar-blog-post {
  font-size: 13px;
  padding-bottom: 8px;
}

.sidebar-blog-post-title {
  color: #f05b48;
}

.sidebar-blog-post-date {
  color: #666;
  margin-left: 0.5em;
}

.faq-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 15px;
  display: flex;
}

.faq-menu {
  min-width: 260px;
  max-width: 260px;
  padding-right: 30px;
}

.faq-menu-section {
  margin-bottom: 10px;
}

.faq-menu-section a {
  color: #f05b48;
  font-size: 15px;
}

.faq-data {
  border-left: 1px solid #ccc;
  padding-left: 30px;
}

.faq-data-section {
  padding-top: 50px;
}

.faq-data-section:first-child {
  padding-top: 0;
}

.faq-data-title {
  font-size: 32px;
  line-height: 40px;
  color: #262930;
  font-weight: 300;
  margin-bottom: 20px;
}

.faq-data-question {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: #262930;
}

.faq-data-answer {
  color: #666;
  font-size: 13px;
}

.faq-content ul {
  margin-left: 20px;
  padding-left: 0;
}

.faq-content table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.faq-content img {
  display: block;
  width: 400px;
  max-width: 100%;
}

.faq-content tr, .faq-content td {
  border: 1px solid #ccc;
}